.hidden {
    visibility: hidden;
}
.display-none {
    display: none;
}
.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.es-header {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 68px;
    background-color: white;
}

.es-header .home-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    left: 40px;
}
.es-header .home-link a {
    color: #4D4D4F;
    font-family: SourceSans-Regular;
    font-size: 0.8rem;
}

body {
    background: url(/assets/images/bg-server.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #313131;
}

/********************** progress-bar *******************/

.progress-bar-container {
    display: none;
    padding-top: 20px;
    width: 400px;
    height: 34px;
    margin: 0 auto;
}
.progress-question {
    width: 100%;
    height: 34px;
}
.progress-question p {
    padding: 10px;
    text-align: center;
    color: #BCBCBC;
    font-family: SourceSans-Regular;
    font-size: 0.9rem;
}
.progress-nav-previous, .progress-nav-next {
    float: left;
    width: calc(50% - 108px)
}
.progress-nav-previous img {
    float: left;
    margin-top: -8px;
}
.progress-nav-next p {
    display: inline;
    padding-left: 10px;
}
.progress-nav-next img {
    float: right;
    margin-top: -4px;
}

.progress-nav-previous p, .progress-nav-next p {
    padding-top: 2px;
    color: #A8A8A9 !important;
    text-align: center;
    text-transform: uppercase;
    font-family: Oswald-Regular;
    font-size: 0.8rem;
}
.progress-nav-previous a, .progress-nav-next a {
    color: #A8A8A9 !important;
}
#link-previous {
    pointer-events: none;
    cursor: default;
}
#link-previous p, #link-previous img{
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}
.progress-bar-background {
    width: 216px;
    height: 14px;
    float: left;
    background-color: #4D4D4F;
    border-radius: 6px;
}
.progress-bar-main {
    width: 20%;
    height: 100%;
    float: left;
    background: linear-gradient(to right, white , #98D82A);
    border-radius: 6px;
    transition: width .4s ease-in-out;
}

/******************* end-progress-bar ******************/

/********************* main-section *******************/

h1, h2, h3 {
    text-transform: uppercase;
}
h1 {
    font-family: Oswald-Regular;
    font-size: 2.8rem;
}
h2 {
    font-family: Oswald-Regular;
    font-size: 2.1rem;
    line-height: 2.1rem;
}
.main-section-wrapper {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-section {
    width: 50%;
    /*height: 100%;*/
    /*margin: auto;*/
    /*position: absolute;*/
    /*top: 50%; left: 0; bottom: 0; right: 0;*/
}
#p1, #p2, #p3, #p4, #p5 {
    line-height: 2rem;
    opacity: 0;
    /*transition: all .5s ease-in-out;*/
}
.main-section p {
    font-family: SourceSans-Regular;
    font-size: 1.3rem;
    color: #BCBCBC;
}
.main-section p.text-secondary {
    font-size: 1rem;
    padding: 5px 15px;
}
.main-section p.text-question {
    font-size: 1rem;
    text-align: justify;
}
.horizontal-line {
    width: 100%;
    height: 1px;
    display: inline-block;
    border-bottom: 1px solid #727272;
}
.text-colored {
    color: #98D82A !important;
}
.text-white {
    color: white !important;
}
.text-gray {
    color: #5D5D5D !important;
}
.text-section {
    width: 100%;
    padding: 8px;
    float: left;
    text-align: center;
}
.vote-section {
    width: 110%;
    height: 100px;
    margin: 0 -20px;
    padding: 10px 0;
}
.vote-section span {
    position: absolute;
    top: 80px;
    left: 50%;
    color: #A8A8A9;
    font-family: SourceSans-Regular;
    font-size: 1.1rem;
}
svg {
    width: 80px;
    height: 80px;
    fill: #A8A8A9;
}
.vote-item:hover svg {
    fill: #98D82A !important;
}

.vote-item:hover span {
    color: #98D82A !important;
}

.button-start-wrapper {
    position: relative;
    width: 200px;
    height: 82px;
    margin: auto;
}

.button-start-color-bg {
    position: absolute;
    width: 200px;
    height: 74px;
    top: 5px;
    background-color: #98D82A;
    border-radius: 20px;
}

.button-start {
    position: absolute;
    width: 200px;
    height: 74px;
    top: -5px;
    background-color: #EEEEEE;
    border-radius: 20px;
    cursor: pointer;
}

.button-start h3 {
    padding-top: 30px;
    font-family: Oswald-Regular;
    font-size: 1rem;
    color: #313131;
}

.button-choose {
    width: 100%;
    padding: 20px 10px;
    font-family: Oswald-Bold;
    font-size: 0.9rem;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 20px;
}
.button-choose:hover {
    background-color: #4D4D4F;
}
.button-choose:focus {
    background-color: #98D82A;
    color: #4D4D4F;
}

.error-section {
    width: 100%;
    padding: 8px;
    float: left;
    text-align: center;
    transform: scale(0,1);
    opacity: 0;
    transition: all .2s ease-in-out;
}

.error-section-open {
    opacity: 1;
    transform: scale(1,1);
}

.error-section p {
    font-size: 1rem;
    color: #F86363;
}
.error-section .horizontal-line {
    border-bottom: 1px solid #F86363;
}


/******************* end-main-section *****************/

/******************* progress-meter ******************/

.progress-meter {
    position: absolute;
    right: 60px;
    top: 100px;
    height: calc(92% - 112px);
    width: 7px;
}

.progress-meter-top-section {
    width: 100%;
    height: 1px;
}
.top-line {
    width: 100%;
    border-style: none;
    border-top: 1px solid #727272;
}

.start-label {
    position: relative;
    width: 100px;
    text-align: right;
    top: -10px;
    left: -110px;
}

.progress-meter-section {
    width: 100%;
    height: 14%;
}

.progress-label {
    position: relative;
    width: 100px;
    text-align: right;
    top: 93%;
    left: -110px;
}

.progress-label-number {
    text-align: left;
    left: 13px;
    width: 20px;
}

.progress-label img.icon-active {
    position: absolute;
    top: 0;
    right: -21px;
}

.label-two-line {
    top: 88%;
}

.label-two-line img {
    top: 5px !important;
}

.progress-label p {
    color: #727272;
    font-family: SourceSans-Regular;
    font-size: 0.92rem;
}

.progress-label p.start-finish-label, .start-label p.start-finish-label {
    color: white;
    font-size: 0.9rem;
    font-family: SourceSans-Bold;
}

.progress-label p.step-complete {
    color: white;
    cursor: pointer;
}

.progress-label p.step-complete.check-symbol {
    font-size: 1.2rem;
    cursor: default;
}

.progress-label p.step-current {
    color: #98D82A;
}

.left-line {
    float: left;
    width: 50%;
    height: 100%;
    border: 1px solid #727272;
    border-left-style: none;
    border-top-style: none;
}
.right-line {
    float: left;
    width: 50%;
    height: 100%;
    /*border: 1px solid white;*/
    border-style: none;
    border-bottom: 1px solid #727272;
}

/******************* end-progress-meter ******************/

.es-footer {
    width: 100%;
    height: 45px;
    background-color: #ADADAD;
}

.es-footer p {
    padding-top: 16px;
    font-family: SourceSans-Regular;
    font-size: 0.85rem;
    color: #313131;
}

.es-footer a {
    color: #313131;
    text-decoration: underline;
}

#page06 {
    top: 0;
}

/**************** loading animation **********************/

#loading{
	background-color: #59631e;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	margin-top: 0px;
	top: 0px;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
	}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100px;
	width: 50px;
	margin-top: -50px;
	margin-left: -25px;
}
.object{
	width: 50px;
	height: 8px;
	margin-bottom:15px;
	background-color: #FFF;
	-webkit-animation: animate 0.8s infinite;
	animation: animate 0.8s infinite;
	}
#object_two { 
	-webkit-animation-delay: 0.2s; 
    animation-delay: 0.2s;
	}
#object_four {	
	-webkit-animation-delay: 0.2s; 
    animation-delay: 0.2s; 
	}
@-webkit-keyframes animate {
 
  50% {
	-ms-transform: translate(50%,0); 
   	-webkit-transform: translate(50%,0); 
    transform: translate(50%,0); 
	  }
}

@keyframes animate {
  50% {
	-ms-transform: translate(50%,0); 
   	-webkit-transform: translate(50%,0); 
    transform: translate(50%,0); 
	  }
}

/**************** report **********************/

#report-container {
    position: fixed;
    top: 100vh;
    /*top: 68px;*/
    left: 50%;
    transform: translateX(-50%);
}

#report-container img {
    height: 90vmax;
}

.button-report-wrapper {
    height: 50px;
    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.button-report-color-bg {
    /*position: absolute;
    width: 200px;*/
    height: 50px;
    top: 5px;
    /*background-color: #98D82A;
    border-radius: 20px;*/
}

.button-report {
    position: absolute;
    width: 200px;
    height: 50px;
    top: -5px;
    color: white;
    background-color: #313131;
    border-radius: 20px;
    cursor: pointer;
}

.button-report h3 {
    padding-top: 18px;
    font-family: Oswald-Regular;
    font-size: 1rem;
    color: white;
}

.button-report span {
    position: absolute;
    right: 20px;
    top: 17px;
}

/**************** modal **********************/

.modal-content {
    border-radius: 0;
}
.modal-body {
    padding: 0;
    /*height: 584px;*/
}

.img-container {
    /*width: 50%;*/
    width: 484px;
    height: 584px;
    float: left;
}
.form-group input {
    font-family: SourceSans-Regular;
}
.form-container {
    padding: 30px;
    background-color: white;
    width: calc(100% - 484px);
    /*width: 50%;*/
    height: 584px;
    float: left;
}

.form-container h3 {
    font-family: Oswald-Regular;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 15px;
}

.form-container label, .input-group {
    font-family: SourceSans-Regular;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 0.8rem;
    color: #727272;
}

.input-group {
    padding-top: 0;
}

.radio {
    margin-top: 0;
}

.form-control {
    border-radius: 0;
}

.name-input {
    width: 50%;
    float: left;
}

.left-padding {
    padding-left: 5px;
}

.right-padding {
    padding-right: 5px;
}

.glyphicon-menu-down {
    top: 3px;
    color: #727272;
}

.button-receive-wrapper {
    position: relative;
    width: 160px;
    height: 40px;
    margin: auto;
}

.button-receive-color-bg {
    position: absolute;
    width: 160px;
    height: 40px;
    top: 5px;
    background-color: #98D82A;
    border-radius: 15px;
}

.button-receive {
    position: absolute;
    width: 160px;
    height: 40px;
    top: -5px;
    background-color: #313131;
    border-radius: 15px;
    cursor: pointer;
}

.button-receive h3 {
    padding-top: 15px;
    font-family: Oswald-Regular;
    font-size: 0.8rem;
    color: white;
}

.required {
    color: #f96464;
}

.required-info {
    color: #f96464;
    float: right;
    font-family: SourceSans-Black;
}

.full-width {
    width: 100%;
}

#activity::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #f96464;
}
#activity:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #f96464;
   opacity:  1;
}
#activity::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #f96464;
   opacity:  1;
}
#activity:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #f96464;
}

input[type=radio].css-checkbox {
							position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
						}

						input[type=radio].css-checkbox + label.css-label {
							padding-left:37px;
                            padding-top: 0;
							height:28px; 
							display:inline-block;
							line-height:28px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:0.8rem;
							vertical-align:middle;
							cursor:pointer;

						}

						input[type=radio].css-checkbox:checked + label.css-label {
							background-position: 0 -28px;
						}
						label.css-label {
				background-image:url(/assets/images/css-checkbox.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}