@media screen and (max-width: 992px) {
    img.img-report {
        width: 340px;
        height: 410px;
    } 
    .img-container {
        /*width: 50%;*/
        width: 340px;
        height: 410px;
        float: left;
    }
    .form-control {
        height: 28px;
    }

    .input-group-btn:last-child > .btn{
        height: 28px;
    }

    .glyphicon-menu-down {
        top: 0;
    }

    .form-container {
            padding: 10px;
            background-color: white;
            width: calc(100% - 340px);
            /*width: 50%;*/
            height: 410px;
            float: left;
        }
    .form-container h3 {
        font-size: 0.8rem;
        padding-bottom: 0;
    }
    .form-container label, .input-group {
        padding-top: 10px;
        padding-bottom: 5px;
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 768px) {
    .main-section-wrapper {
        height: 80vh;
    }

}


@media screen and (max-width: 650px) {
    .img-container {
        display: none;
    }
    .form-container {
        width: 100%;
    }
    .form-container h3 {
        font-size: 1rem;
        padding-bottom: 10px;
    }
    .button-receive h3 {
        padding-top: 15px;
        font-family: Oswald-Regular;
        font-size: 0.8rem;
        color: white;
    }

}