<div class="text-section">
    <h2 class="text-colored">Section 1: La sécurité</h2>
</div>
<div class="text-section">
    <p>Capacité de l’entreprise à se protéger contre différentes menaces (virus, fraude, piratage) et à contrôler l’accès aux
        informations privilégiées.</p>
</div>
<div class="horizontal-line"></div>
<div class="text-section">
    <p class="text-secondary text-colored">Indiquez le degré d’importance de cet énoncé pour votre entreprise:</p>
</div>
<div class="text-section">
    <p class="text-question text-white"><span class="text-colored">Question 1.1</span> L'entreprise ou ses clients sont soumis à des règlementations particulières
        (Ex: Services Financiers, Industrie Pharmaceutique, Secteur public)</p>
</div>
<div class="text-section vote-section">
    <div class="col-sm-15">
        <svg class="vote-item">
            <use xlink:href="#rate" width="150"></use>
        </svg>
    </div>
    <div class="col-sm-15">
        <svg class="vote-item">
            <use xlink:href="#rate" width="150"></use>
        </svg>
    </div>
    <div class="col-sm-15">
        <svg class="vote-item">
            <use xlink:href="#rate" width="150"></use>
        </svg>
    </div>
    <div class="col-sm-15">
        <svg class="vote-item">
            <use xlink:href="#rate" width="150"></use>
        </svg>
    </div>
    <div class="col-sm-15">
        <svg class="vote-item">
            <use xlink:href="#rate" width="150"></use>
        </svg>
    </div>
</div>