<div class="text-section">
    <h1 class="text-colored">Slogan court et punché</h1>
</div>
<div class="text-section">
    <h1 class="text-white">d’introduction</h1>
</div>
<div class="text-section">
    <p>Grâce à ce court questionnaire (5 à 10 minutes de votre temps, promis), vous obtiendrez un rapport détaillé des améliorations
        possibles pour votre entreprise.</p>
</div>
<div class="text-section">
    <div class="button-start-wrapper">
        <div class="button-start-color-bg">
            <div class="button-start">
                <h3>COMMENCER</h3>
            </div>
        </div>
    </div>
</div>